<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="/static/css/checkout.css">
</head>
<body>
    <div id="main_div">
    <form action="/checkout" method="post">

        <div class="content">
            <input class="content" type="text" id="c_id" name="c_id" required placeholder="Customer ID:">
        </div>

        <div class="content">
            <input class="content"  type="text" id="ans" name="ans" required placeholder="DO YOU WANT TO CHECKOUT(y/n)">
        </div>

        <div class="content">
            <input type="submit" value="Submit">
        </div>

    </form>

    <div class="val">{{value}}</div>

    </div>
</body>
</html>