<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <h1>WELCOME TO RND HOTEL</h1>
    <div>
        <a href="/checkin" target="_self">CHECKIN</a>
        <a href="/checkout" target="_self">CHECKOUT</a>
        <a href="/laundry" target="_self">LAUNDRY</a>
        <a href="/spa" target="_self">SPA</a>
        <a href="/restaurant" target="_self">RESTAURANT</a>
    </div>
</body>
</html>